.carousselContainer {
    margin: auto;
    width: 20em;
    height: 20em;

}

/* Pie charts consist of solid slices where you can use this selector to override the default style. */
.ct-series-a .ct-slice-pie {
    /* fill of the pie slieces */
    fill: hsl(120, 40%, 60%);
    /* give your pie slices some outline or separate them visually by using the background color here */
    stroke: white;
    /* outline width */
    stroke-width: 4px;
}


nav .navbar-nav li a {
    color: white !important;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #859cf9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #1b2ef8,#4b54f8, #829dff, #c5b7fa);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #1b2ef8,#4b54f8, #829dff, #c5b7fa);
    }
    
@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}
